:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #cdb4db;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin:0;
  padding:0;
  
}
.isFlex{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
p{
  margin:0;
}
img,svg,p,div{
  user-select: none;
}

.isFlow{
      white-space: nowrap;
        word-break: keep-all;
        overflow: hidden;
        text-overflow: ellipsis;
}