.flexbtn {
    cursor: pointer;
    padding: 7px 18px;
    margin: 15px 0px;
    border-radius: 15px;
    color: white;
    user-select: none;
    transition: .2s ease;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flexbtn:hover {
    opacity: .7;
}